.container__error404 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: var(--color-white);
    justify-content: center;
    align-items: center;
}

.container__error404 h2 {
    font-size: 3rem;
    color: var(--color-red);
}

.container__error404 p {
    font-size: 2rem;
}

.error__goBack {
    list-style: none;
    color: var(--color-white);
    text-decoration: none;
    margin-top: 2rem;
}

.error__goBack:hover {
    color: var(--color-red);
}