:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-less-black: #1C1C1C;
    --color-red: #FF0000;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0rem;
    padding: 0rem;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-black);
}

li {
    list-style: none;
}

.button {
    background: transparent;
    cursor: pointer;
    color: var(--color-white);
    border: 0.1rem solid var(--color-white);
    border-radius: 2rem;
    height: 3rem;
}

.button:hover {
    background: var(--color-white);
    color: var(--color-black)
}