:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-less-black: #1c1c1c;
  --color-red: #ff0000;
  --color-dark-opacity: rgba(0, 0, 0, 0.5);
  ::-webkit-scrollbar { display: none}
}

.scrollable-component {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
}

.scrollable-component::-webkit-scrollbar {
  display: none; /* Chrome, Safari y otros */
}

/* Mostrar el scrollbar cuando el usuario hace scroll */
.scrolling::-webkit-scrollbar {
  display: block;
  width: 8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0rem;
  padding: 0rem;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-black);
}

li {
  list-style: none;
}

h2 {
  color: var(--color-white);
}

h3 {
  color: var(--color-white);
}

a {
  text-decoration: none;
}

.button {
  background: transparent;
  cursor: pointer;
  color: var(--color-white);
  border: 0.1rem solid var(--color-white);
  border-radius: 2rem;
  height: 3rem;
}

.button:hover {
  background: var(--color-white);
  color: var(--color-black);
}

.viewAll {
  color: rgba(255, 255, 255, 0.5);
}

.container__viewAll {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 660px) {
  .container__viewAll {
    margin-bottom: 1.5rem;
  }
}
