.movie__recentlyUpdated {
  display: flex;
  justify-content: center;
  margin: 4rem 0rem;
}

.recentlyUpdated__container {
  max-width: 1200px;
  width: 100%;
  padding: 0rem 2rem;
}

.recentlyUpdated__containerScrollWrapper {
  display: flex;
  flex-direction: row;
}

.recentlyUpdated__containerScroll {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 1.5rem;
}

.recentlyUpdated__containerScroll::-webkit-scrollbar {
  display: none;
}

.recentlyUpdated__buttonNext {
  background-color: var(--color-dark);
  border: none;
  cursor: pointer;
}

.recentlyUpdated__buttonNext--icon {
  position: relative;
  width: 5rem;
  height: 5rem;
  background-color: var(--color-white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-front {
  position: absolute;
}

.cardMovie__recentlyUpdated {
  width: 20.875rem;
  display: flex;
  flex-direction: row;
  margin: 2rem 0rem;
}

.cardMovie__recentlyUpdated--img img {
  width: 8rem;
  height: 10rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.cardMovie__recentlyUpdated--detail {
  display: flex;
  width: 12.875rem;
  flex-direction: column;
  color: var(--color-white);
  overflow: hidden;
}

.cardMovie__recentlyUpdated--detail h4 {
  margin: 0rem;
  font-size: 1.2rem;
}

.cardMovie__recentlyUpdated--detail p:first-of-type {
  margin: 0rem;
  font-size: 0.7rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardMovie__recentlyUpdated--detail p:last-of-type {
  font-size: 0.7rem;
  margin: 0.5rem 0rem;
}

@media (max-width: 900px) {
  .recentlyUpdated__buttonNext--icon {
    width: 3rem;
    height: 3rem;
  }
}
