.movie__tab {
    display: flex;
    justify-content: center;
    margin: 4rem 0rem;
}

.movie__tab--container {
    max-width: 1200px;
    width: 100%;
    padding: 0rem 2rem;
}

.movie__tab--containerTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.movie__tab--containerOptions {
    position: relative;
    background-color: var(--color-less-black);
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 600rem;
    align-items: center;
    height: 3rem;
}

#tab-1, #tab-2, #tab-3 {
    position: relative;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 600rem;
    height: 2rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: var(--color-white);
    font-size: 0.8rem;
    text-align: center;
    height: 100%;
}

#tab-1:hover, #tab-2:hover, #tab-3:hover {
    background-color: var(--color-dark-opacity);
}

@media (max-width: 660px) {
    .movie__tab--containerTitle {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
    }
    .movie__tab--containerOptions {
        width: 100%;
    }
}